{% extends "info_hubs/base.html" %}

{% block content %}

  <h2 style="color: #343a40;">Categories</h2>

  <div style="display: flex; flex-wrap: wrap;">
    {% for category in categories %}
      <a style="background-color: #343a40; border-radius: 5px; margin: 10px;
       padding: 10px; text-align: center; width: 200px; color: white;
       text-decoration: none;"
         href="{% url 'info_hubs:category' category.id %}">
        {{ category }}
      </a>
    {% empty %}
      <div>No categories have been added yet.</div>
    {% endfor %}
  </div>

{% endblock content %}
